<h1>Available Restaurants</h1>
<p>San Francisco <a href="/!#">change area</a></p>
<div>The Halal Guys<button ng-click="showRestaurantTimes(0)">join</button><span id="restaurantTimes0"><span></div>
<div>Buckhorn Grill<button ng-click="showRestaurantTimes(1)">join</button><span id="restaurantTimes1"><span></div>
<div>Tin Vietnamese Cuisine<button ng-click="showRestaurantTimes(2)">join</button><span id="restaurantTimes2"><span></div>
<div>The Lark Bar<button ng-click="showRestaurantTimes(3)">join</button><span id="restaurantTimes3"><span></div>
<div>Delicious Dim Sum<button ng-click="showRestaurantTimes(4)">join</button><span id="restaurantTimes4"><span></div>

<span id="times">
<a href="#!/pool" id="time1"></a>
<a href="#!/pool" id="time2"></a>
<a href="#!/pool" id="time3"></a>
<a href="#!/pool" id="time4"></a>
</span>