<h1>Available Restaurants</h1>
<span>San Francisco <a href="/!#">change area</a></span>
<br><br><br>

<style type="text/css">
	.restaurantTimes{
		min-width: 35vw;
	}
	.joinButton{
		margin-left: 2vw;
		margin-right: 2vw;
	}
	#times{
		opacity: 0;
	}
	#times *{
		margin-left: 10px;
	}
</style>

<table>
<!--   <tr>
    <th></th>
    <th></th>
  </tr> -->
  <tr>
    <td>The Halal Guys</td>
    <td><button class="joinButton" ng-click="showRestaurantTimes(0)">join</button></td>
    <td class="restaurantTimes"><span id="restaurantTimes0"></span></td>
  </tr>
  <tr>
    <td>Buckhorn Grill</td>
    <td><button class="joinButton" ng-click="showRestaurantTimes(1)">join</button></td>
    <td class="restaurantTimes"><span id="restaurantTimes1"></span></td>
  </tr>
  <tr>
    <td>Tin Vietnamese Cuisine</td>
    <td><button class="joinButton" ng-click="showRestaurantTimes(2)">join</button></td>
    <td class="restaurantTimes"><span id="restaurantTimes2"></span></td>
  </tr>
  <tr>
    <td>The Lark Bar</td>
    <td><button class="joinButton" ng-click="showRestaurantTimes(3)">join</button></td>
    <td class="restaurantTimes"><span id="restaurantTimes3"></span></td>
  </tr>
  <tr>
    <td>Delicious Dim Sum</td>
    <td><button class="joinButton" ng-click="showRestaurantTimes(4)">join</button></td>
    <td class="restaurantTimes"><span id="restaurantTimes4"></span></td>
  </tr>
</table>


<span id="times">
<a ng-click="joinPool(0)" href="" id="time1"></a>
<a ng-click="joinPool(1)" href="" id="time2"></a>
<a ng-click="joinPool(2)" href="" id="time3"></a>
<a ng-click="joinPool(3)" href="" id="time4"></a>
</span>